body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fafafa;
    background-image: url('https://images.unsplash.com/photo-1644329843491-99edfc83de04?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHRvJTIwZG8lMjBsaXN0fGVufDB8fDB8fHww');
    margin: 0;
    font-family: 'Arial', sans-serif;
}

#todo-app {
    max-width: 400px;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#task-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#add-button {
    padding: 10px 20px;
    background-color: #00ace6;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.task-text {
    flex-grow: 1;
}

.delete-button {
    margin-left: 10px;
    padding: 4px 8px;
    background-color: #862d2d;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
